<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    >
<head>
    <title>Edit Class</title>
</head>
<body>
<h1>Edit Class</h1>
<form role="form" method="post" th:action="@{/classes/update/{id}(id=${schoolClass.id})}" th:object="${schoolClass}" >
    <div>
        <label>Section Name:</label>
        <input type="text" th:field="*{sectionName}" />
    </div>
    <div>
        <label>Class Name:</label>
        <input type="text" th:field="*{className}" />
    </div>
    <div>
        <button type="submit">Update</button>
    </div>
</form>
</body>
</html>
