<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}"
    >
<head>
    <title>Edit Sport House</title>
</head>
<body>
    <section layout:fragment="body">
        <section class="form-container">
            <h1>Edit Sport House</h1>
            <form sportHouse="form" action="#" th:action="@{/sportHouses/update/{id}(id=${sportHouse.id})}" th:object="${sportHouse}" method="post">
                <div>
                    <label>Sport House Name:</label>
                    <input type="text" th:field="*{sportHouseName}" />
                </div>
                <div>
                    <button type="submit">Update</button>
                </div>
            </form>
        </section>
    </section>
</body>
</html>
