<!DOCTYPE html>
<html 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <title>Sport House List</title>
</head>
<body>
    <section layout:fragment="body">
        <article class="list-page">
            <div class="list-header">
                <h1>Sport Houses List</h1>
                <a href="/sportHouses/new">Add New Sport House</a>
            </div>

            <form th:action="@{/sportHouses/create}" th:object="${sportHouse}" class="list-form-layout" method="post">
                <div class="list-form">
                    <div class="form-group">
                        <label for="sportHouse">Sport House Name:</label>
                        <input type="text" id="sportHouse" th:field="*{sportHouseName}" required />
                    </div>
                </div>
                <div class="form-group-btn">
                    <button type="submit">Save</button>
                </div>
            </form>

            <div class="table-container">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Sport House Name</th>
                        <th>Actions</th>
                    </tr>
                    <tr th:each="sportHouse : ${sportHouses}">
                        <td th:text="${sportHouse.id}"></td>
                        <td th:text="${sportHouse.sportHouseName}"></td>
                        <td>
                            <a th:href="@{'/sportHouses/edit/' + ${sportHouse.id}}">Edit</a>
                            <a th:href="@{'/sportHouses/delete/' + ${sportHouse.id}}">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    </section>
</body>
</html>
