<!DOCTYPE html>
<html 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <title>Sport House List</title>
</head>
<body>
    <section layout:fragment="body">
        <article class="list-page">
            <div class="list-header">
                <h1>Sport Houses List</h1>
<!--                <a href="/sportHouses/new">Add New Sport House</a>-->
            </div>

            <div class="params success" th:if="${param.success}">
                You successfully created a sport house.
            </div>
            <div class="params error" th:if="${param.error}">
                Sport house creation failed.
            </div>

            <form th:action="@{/sportHouses}" th:object="${sportHouse}" class="list-form-layout" method="post">
                <div class="list-form" style="display: flex; align-items: center; justify-content: center; width: 100%">
                    <div class="form-group" style="width: 40%">
                        <label for="sportHouse">Sport House Name:</label>
                        <input type="text" id="sportHouse" th:field="*{sportHouseName}" />
                        <p th:if="${#fields.hasErrors('sportHouseName')}" th:errors="*{sportHouseName}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                    </div>
                </div>
                <div class="form-group-btn">
                    <button type="submit">Save</button>
                </div>
            </form>

            <div class="table-container">
                <table>
                    <tr>
                        <th>S/N</th>
                        <th>Sport House Name</th>
                        <th>Actions</th>
                    </tr>
                    <tr th:each="sportHouse : ${sportHouses}">
                        <td th:text="${sportHouse.id}"></td>
                        <td th:text="${sportHouse.sportHouseName}"></td>
                        <td>
                            <a class="dynamic-link" th:href="@{'/sportHouses/edit/' + ${sportHouse.id}}">Edit</a>
                            <a class="dynamic-link" style="background: red; border: 2px solid red; color: white" th:href="@{'/sportHouses/delete/' + ${sportHouse.id}}">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    </section>
</body>
</html>
