<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <title>Wallet Transactions</title>
</head>
<body>
<section layout:fragment="body">
    <article class="transactions-page">
        <a href="/fees" style="padding: 0.5rem 1.2rem; text-decoration: none; cursor: pointer; width: fit-content; background: black; color: white; border-radius: 0.5rem">
            <i class="fa fa-arrow-left" style="font-size: 1rem; margin-right: 0.2rem"></i> Back
        </a>
        <div class="transactions-header">
            <h1>Wallet Transactions</h1>
        </div>

        <!-- Display wallet information -->
        <div class="wallet-info">
            <h2>Wallet Information</h2>
            <p><strong>Student Name:</strong> <span th:text="${wallet.studentName}"></span></p>
            <p><strong>Class:</strong> <span th:text="${wallet.studentClass}"></span></p>
            <p><strong>Registration No.:</strong> <span th:text="${wallet.regNo}"></span></p>
            <p><strong>Current Balance:</strong> <span th:text="${'₦ ' + wallet.balance}"></span></p>
        </div>

        <!-- Display transactions -->
        <div class="transactions-list">
            <h2>Transactions</h2>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>From Account</th>
                    <th>Bank Name</th>
                    <th>Date</th>
                    <th>Term Name</th>
                    <th>Session Name</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.id}"></td>
                    <td th:text="${transaction.fromAccount}"></td>
                    <td th:text="${transaction.bankName}"></td>
                    <td th:text="${transaction.transactionDate}"></td>
                    <td th:text="${transaction.termName}"></td>
                    <td th:text="${transaction.sessionName}"></td>
                    <td th:text="${transaction.amount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </article>
</section>
</body>
</html>
