<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">
<head>
    <title>Class Teacher</title>
</head>
<body>
<section layout:fragment="body">
    <article class="list-page">
        <div class="list-header">
            <h1>Class Teacher</h1>
<!--            <a href="/classTeacherComments/new">Add New Class Teacher Comment</a>-->
        </div>

        <div class="params success" th:if="${param.success}">
            You successfully created a class teacher comment.
        </div>
        <div class="params error" th:if="${param.error}">
            Comment creation failed.
        </div>

        <form th:action="@{/classTeacherComments}" th:object="${classTeacherCommentDto}" class="list-form-layout" method="post">
            <div class="list-form">
                <div class="form-group">
                    <label for="teacherId">Staffs:</label>
                    <select id="teacherId" th:field="*{teacherId}" th:name="teacherId">
                        <option th:each="staff : ${classTeachers}" th:value="${staff.id}" th:text="${staff.teacherName}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="rangeFrom">Marks Range From:</label>
                    <input type="text" id="rangeFrom" th:field="*{rangeFrom}" />
                    <p th:if="${#fields.hasErrors('rangeFrom')}" th:errors="*{rangeFrom}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div class="form-group">
                    <label for="rangeTo">Marks Range To:</label>
                    <input type="text" id="rangeTo" th:field="*{rangeTo}" />
                    <p th:if="${#fields.hasErrors('rangeTo')}" th:errors="*{rangeTo}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div class="form-group">
                    <label for="remark">Remarks:</label>
                    <input type="text" id="remark" placeholder="e.g AN EXCELLENT RESULT, KEEP IT UP" th:field="*{remark}" />
                    <p th:if="${#fields.hasErrors('remark')}" th:errors="*{remark}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
            </div>
            <div class="form-group-btn">
                <button type="submit">Create Comments</button>
            </div>
        </form>

        <div class="table-container">
            <table>
                <tr>
                    <th>S/N</th>
                    <th>Staff Name</th>
                    <th>Class Name</th>
                    <th>Marks Range</th>
                    <th>Remarks</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="classTeacherComment : ${classTeacherComments}">
                    <td th:text="${classTeacherComment.id}"></td>
                    <td th:text="${classTeacherComment.teacherName}"></td>
                    <td th:text="${classTeacherComment.className}"></td>
                    <td th:text="${classTeacherComment.rangeFrom + '-' + classTeacherComment.rangeTo}"></td>
                    <td th:text="${classTeacherComment.remark}"></td>
                    <td>
                        <a class="dynamic-link blue-details" th:href="@{'/classTeacherComments/edit/' + ${classTeacherComment.id}}">Edit</a>
<!--                        <a class="dynamic-link red-details" th:href="@{'/classTeacherComments/delete/' + ${classTeacherComment.id}}">Delete</a>-->
                    </td>
                </tr>
            </table>
        </div>
    </article>
</section>
</body>
</html>
