<!DOCTYPE html>
<html 
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}"
    >
<head>
    <title>Create New Class Teacher Comment</title>
</head>
<body>
    <section layout:fragment="body">
        <section class="form-container">
            <a href="/classTeacherComments" style="padding: 0.5rem 1.2rem; text-decoration: none; cursor: pointer; width: fit-content; background: black; color: white; border-radius: 0.5rem">
                <i class="fa fa-arrow-left" style="font-size: 1rem; margin-right: 0.2rem"></i> Back
            </a>
            <h1>Create New Class Teacher Comment</h1>
            <form th:action="@{/classTeacherComments/create}" th:object="${classTeacherComment}" method="post">
                <div>
                    <label for="rangeFrom">From:</label>
                    <input id="rangeFrom" type="text" th:field="*{rangeFrom}" />
                    <p th:if="${#fields.hasErrors('rangeFrom')}" th:errors="*{rangeFrom}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="rangeTo">To:</label>
                    <input id="rangeTo" type="text" th:field="*{rangeTo}" />
                    <p th:if="${#fields.hasErrors('rangeTo')}" th:errors="*{rangeTo}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="remark">Remarks:</label>
                    <input id="remark" type="text" th:field="*{remark}" />
                    <p th:if="${#fields.hasErrors('remark')}" th:errors="*{remark}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <button type="submit">Save</button>
                </div>
            </form>
        </section>
    </section>
</body>
</html>
