<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}"
    lang="en">
<head>
    <title>Edit Subject</title>
</head>
<body>
    <section layout:fragment="body">
        <section class="form-container">
            <a href="/subjects" style="padding: 0.5rem 1.2rem; text-decoration: none; cursor: pointer; width: fit-content; background: black; color: white; border-radius: 0.5rem">
                <i class="fa fa-arrow-left" style="font-size: 1rem; margin-right: 0.2rem"></i> Back
            </a>
            <h1>Edit Subject</h1>
            <form role="form" method="post" th:action="@{/subjects/update/{id}(id=${subject.id})}" th:object="${subject}">
                <div>
                    <label for="subjectName">Subject Name:</label>
                    <input id="subjectName" type="text" th:field="*{subjectName}" />
                    <p th:if="${#fields.hasErrors('subjectName')}" th:errors="*{subjectName}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="abbr">Abbreviation:</label>
                    <input id="abbr" type="text" th:field="*{abbr}" />
                </div>
                <div>
                    <button type="submit">Update</button>
                </div>
            </form>
        </section>
    </section>
</body>
</html>
