<!DOCTYPE html>
<html 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <title>Subjects</title>
</head>
<body>
<h1>Subject List</h1>
<a href="/classes/new">Add New Subject</a>
<table>
    <tr>
        <th>ID</th>
        <th>Subject Name</th>
        <th>Abbreviation</th>
    <tr th:each="subject : ${subjects}">
        <td th:text="${subject.id}"></td>
        <td th:text="${subject.subjectName}"></td>
        <td th:text="${subject.abbr}"></td>
        <td>
            <a th:href="@{'/subjects/edit/' + ${subject.id}}">Edit</a>
            <a th:href="@{'/subjects/delete/' + ${subject.id}}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
