<!DOCTYPE html>
<html 
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    >
<head>
    <title>Create New Subject</title>
</head>
<body>
    <h1>Create New Subject</h1>
    <form th:action="@{/subjects/create}" th:object="${subject}" method="post">
        <div>
            <label for="sectionName">Subject Name:</label>
            <input type="text" id="subjectName" th:field="*{subjectName}" required />
        </div>
        <div>
            <label for="className">Abbreviation:</label>
            <input type="text" id="abbr" th:field="*{abbr}" required />
        </div>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>
