<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title>Role List</title>
</head>
<body>
    <section layout:fragment="body">
        <article class="list-page">
            <div class="list-header">
                <h1>Roles List</h1>
                <a href="/roles/new">Add New Role</a>
            </div>

            <form role="form" th:action="@{/roles/create}" class="list-form-layout" th:object="${role}" method="post">
                <div class="list-form">
                    <div class="form-group">
                        <label>Role Name:</label>
                        <input type="text" th:field="*{roleName}" />
                    </div>
                </div>
                <div class="form-group-btn">
                    <button type="submit">Save</button>
                </div>
            </form>

            <div class="table-container">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Role Name</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="role : ${roles}">
                        <td th:text="${role.id}"></td>
                        <td th:text="${role.roleName}"></td>
                        <td>
                            <a class="dynamic-link" th:href="@{'/roles/edit/' + ${role.id}}">Edit</a>
                            <a class="dynamic-link" th:href="@{'/roles/delete/' + ${role.id}}">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    </section>
</body>
</html>
