<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration page</title>
</head>
<body>
    <form th:action="@{/register}" method="post" th:object="${user}">
        <input name="username" type="text" placeholder="Username" th:field="*{username}">
        <input name="password" type="password" placeholder="Password" th:field="*{password}">
        <input name="roles" type="text" placeholder="Role" th:field="*{roles}">
        <button type="submit">Save</button>
    </form>
<a th:href="@{'/login'}">Login</a>
</body>
</html>