<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}"
    >
<head>
    <title>Edit Term</title>
</head>
<body>
    <section layout:fragment="body">
        <section class="form-container">
            <h1>Edit Term</h1>
            <form term="form" action="#" th:action="@{/terms/update/{id}(id=${term.id})}" th:object="${term}" method="post">
                <div>
                    <label>Term Name:</label>
                    <input type="text" th:field="*{termName}" />
                </div>
                <div>
                    <button type="submit">Update</button>
                </div>
            </form>
        </section>
    </section>
</body>
</html>
