<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <title>Access Denied</title>
</head>
<body>
    <section layout:fragment="body">
        <div style="align-self: center; display: flex; flex-direction: column; gap: 0.5rem; align-items: center; margin-top: 3rem">
            <i class="fa fa-ban" style="font-size: 7rem; color: #ff253a"></i>
            <h1>Access Denied!</h1>
            <p>You do not have permission to access this page.</p>
        </div>
    </section>
</body>
</html>
