<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">
<head>
  <title>Error</title>
</head>
<body>
  <section layout:fragment="body">
    <article style="margin-top: 2rem">
      <div style="font-size: 8rem; color: #ff253a; text-align: center"><i class="fas fa-exclamation-circle"></i></div>
      <div>
        <h1 style="text-align: center; font-size: 1.7rem;">Error</h1>
        <p style="text-align: center" th:text="${message}"></p>
      </div>
    </article>
  </section>
</body>
</html>
