<!DOCTYPE html>
<html 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <title>Permission List</title>
</head>
<body>
    <section layout:fragment="body">
        <article class="list-page">
            <div class="list-header">
                <h1>Permissions List</h1>
                <a href="/permissions/new">Add New Permission</a>
            </div>
            <div class="table-container">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Permission Name</th>
                        <th>Actions</th>
                    </tr>
                    <tr th:each="permission : ${permissions}">
                        <td th:text="${permission.id}"></td>
                        <td th:text="${permission.permissionName}"></td>
                        <td>
                            <a th:href="@{'/permissions/edit/' + ${permission.id}}">Edit</a>
                            <a th:href="@{'/permissions/delete/' + ${permission.id}}">Delete</a>
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    </section>
</body>
</html>
