<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}"
    lang="en">

<head>
    <title>Create New Student</title>
</head>
<body>
    <section layout:fragment="body">
        <section class="form-container">
            <a href="/students" style="padding: 0.5rem 1.2rem; text-decoration: none; cursor: pointer; width: fit-content; background: black; color: white; border-radius: 0.5rem">
                <i class="fa fa-arrow-left" style="font-size: 1rem; margin-right: 0.2rem"></i> Back
            </a>
            <h1>Create New Student</h1>
            <form role="form" th:action="@{/students/create}" th:object="${student}" method="post">
                <div>
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" th:field="*{firstName}" />
                    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" th:field="*{lastName}" />
                    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="userName">User Name:</label>
                    <input type="text" id="userName" th:field="*{userName}" />
                    <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" th:field="*{password}" />
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div class="form-group">
                    <label for="dateOfBirth">Date of Birth:</label>
                    <input type="date" style="padding: 0.8rem" id="dateOfBirth" th:field="*{dateOfBirth}" />
                    <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div class="form-group">
                    <label for="admissionDate">Admitted Date:</label>
                    <input type="date" style="padding: 0.8rem" id="admissionDate" th:field="*{admissionDate}" />
                    <p th:if="${#fields.hasErrors('admissionDate')}" th:errors="*{admissionDate}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="homeAddress">Home Address:</label>
                    <input type="text" id="homeAddress" th:field="*{homeAddress}" />
                    <p th:if="${#fields.hasErrors('homeAddress')}" th:errors="*{homeAddress}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="termId">Term:</label>
                    <select id="termId" th:field="*{termId}" th:name="termId">
                        <option th:each="term : ${termIds}" th:value="${term.id}" th:text="${term.termName}"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('termId')}" th:errors="*{termId}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="isActive">Is Student Active:</label>
                    <select id="isActive" th:field="*{isActive}" th:name="isActive">
                        <option th:each="a : ${isActive}"
                                th:value="${a}"
                                th:text="${a}"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('isActive')}" th:errors="*{isActive}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="admissionType">Admission Type:</label>
                    <select id="admissionType" th:field="*{admissionType}" th:name="admissionType">
                        <option th:each="a : ${admissionType}"
                                th:value="${a}"
                                th:text="${a}"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('admissionType')}" th:errors="*{admissionType}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="sectionId">Section:</label>
                    <select id="sectionId" th:field="*{sectionId}" th:name="sectionId">
                        <option th:each="section : ${sectionIds}" th:value="${section.id}" th:text="${section.sectionName}"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('sectionId')}" th:errors="*{sectionId}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="state">State:</label>
                    <input type="text" id="state" th:field="*{state}" />
                    <p th:if="${#fields.hasErrors('state')}" th:errors="*{state}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="LGA">L.G.A:</label>
                    <input type="text" id="LGA" th:field="*{LGA}" />
                    <p th:if="${#fields.hasErrors('LGA')}" th:errors="*{LGA}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="religion">Religion:</label>
                    <input type="text" id="religion" th:field="*{religion}" />
                    <p th:if="${#fields.hasErrors('religion')}" th:errors="*{religion}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="studentClassId">Class:</label>
                    <select id="studentClassId" th:field="*{studentClassId}" th:name="studentClassId">
                        <option th:each="oneClass : ${studentClassIds}" th:value="${oneClass.id}" th:text="${oneClass.sectionId + ' ' + oneClass.className}"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('studentClassId')}" th:errors="*{studentClassId}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="sportHouseId">Sport House:</label>
                    <select id="sportHouseId" th:field="*{sportHouseId}" th:name="sportHouseId">
                        <option th:each="sportHouse : ${sportHouseIds}" th:value="${sportHouse.id}" th:text="${sportHouse.sportHouseName}" ></option>
                    </select>
                    <p th:if="${#fields.hasErrors('sportHouseId')}" th:errors="*{sportHouseId}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="tribe">Tribe:</label>
                    <input type="text" id="tribe" th:field="*{tribe}" />
                    <p th:if="${#fields.hasErrors('tribe')}" th:errors="*{tribe}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="gender">Gender:</label>
                    <select id="gender" th:field="*{gender}" th:name="gender">
                        <option th:each="g : ${gender}" th:value="${g}" th:text="${g}"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="profilePicture">Profile Picture:</label>
                    <input type="text" id="profilePicture" th:field="*{profilePicture}" />
                </div>
                <div>
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="text" id="phoneNumber" th:field="*{phoneNumber}" />
                    <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div>
                    <label for="balance">Registration Fee:</label>
                    <input type="text" placeholder="e.g 20000" id="balance" th:field="*{balance}" required />
                </div>
                <div>
                    <button type="submit">Save</button>
                </div>
            </form>
        </section>
    </section>
</body>
</html>
