<!DOCTYPE html>
<html 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en"
>
<head>
    <title>Staffs</title>
</head>
<body>
    <section layout:fragment="body">
        <article class="list-page">
            <div class="list-header">
                <h1>Staffs List</h1>
<!--                <a href="/staffs/new">Add New Staff</a>-->
            </div>

            <div class="params success" th:if="${param.success}">
                You successfully employed a staff.
            </div>
            <div class="params error" th:if="${param.error}">
                Employment failed.
            </div>

            <!-- Form Section -->

            <form th:action="@{/staffs}" class="list-form-layout" th:object="${staff}" method="post">
                <div class="list-form">
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" id="firstName" th:field="*{firstName}" />
                        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" th:field="*{lastName}" />
                        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                    </div>
                    <div class="form-group">
                        <label for="userName">User Name:</label>
                        <input type="text" id="userName" th:field="*{userName}" />
                        <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" style="padding: 0.5rem; border-radius: 0.2rem" th:field="*{password}" />
                        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                    </div>
                    <div class="form-group">
                        <label for="dateOfBirth">Date of Birth:</label>
                        <input type="date" id="dateOfBirth" style="padding: 0.37rem" th:field="*{dateOfBirth}" />
                        <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                    </div>
                    <div class="form-group">
                        <label for="employedDate">Employed Date:</label>
                        <input type="date" style="padding: 0.37rem" id="employedDate" th:field="*{employedDate}" />
                        <p th:if="${#fields.hasErrors('employedDate')}" th:errors="*{employedDate}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                    </div>
                    <div class="form-group">
                        <label for="homeAddress">Home Address:</label>
                        <input type="text" id="homeAddress" th:field="*{homeAddress}" />
                        <p th:if="${#fields.hasErrors('homeAddress')}" th:errors="*{homeAddress}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                    </div>
                    <div class="form-group">
                        <label for="state">State:</label>
                        <input type="text" id="state" th:field="*{state}" />
                        <p th:if="${#fields.hasErrors('state')}" th:errors="*{state}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                    </div>
                    <div class="form-group">
                        <label for="LGA">L.G.A:</label>
                        <input type="text" id="LGA" th:field="*{LGA}" />
                        <p th:if="${#fields.hasErrors('LGA')}" th:errors="*{LGA}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                    </div>
                    <div class="form-group">
                        <label for="religion">Religion:</label>
                        <input type="text" id="religion" th:field="*{religion}" />
                        <p th:if="${#fields.hasErrors('religion')}" th:errors="*{religion}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                    </div>
                    <div class="form-group">
                        <label for="tribe">Tribe:</label>
                        <input type="text" id="tribe" th:field="*{tribe}" />
                        <p th:if="${#fields.hasErrors('tribe')}" th:errors="*{tribe}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender:</label>
                        <select id="gender" th:field="*{gender}" th:name="gender">
                            <option th:each="g : ${gender}"
                                    th:value="${g}"
                                    th:text="${g}"></option>
                        </select>
                        <p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                    </div>
                    <div class="form-group">
                        <label for="isActive">Is Teacher Active:</label>
                        <select id="isActive" th:field="*{isActive}" th:name="isActive">
                            <option th:each="a : ${isActive}"
                                    th:value="${a}"
                                    th:text="${a}"></option>
                        </select>
                        <p th:if="${#fields.hasErrors('isActive')}" th:errors="*{isActive}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                    </div>
                    <div class="form-group">
                        <label for="profilePicture">Profile Picture:</label>
                        <input type="text" id="profilePicture" th:field="*{profilePicture}" />
                    </div>
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number:</label>
                        <input type="text" id="phoneNumber" th:field="*{phoneNumber}" />
                        <p th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                    </div>
                    <div class="checkbox-container">
                        <label>Classes:</label>
                        <div th:each="classModel : ${classModels}">
                            <input type="checkbox" th:id="${'classModel_' + classModel.id}" th:name="classModelIds" th:field="*{classModelIds}" th:value="${classModel.id}" />
                            <label th:for="${'classModel_' + classModel.id}" th:text="${classModel.className}"></label>
                            <br/>
                        </div>
                        <p th:if="${#fields.hasErrors('classModelIds')}" th:errors="*{classModelIds}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                    </div>
                    <div class="checkbox-container">
                        <label>Subjects: </label>
                        <div th:each="subject : ${subjects}">
                            <input type="checkbox" th:id="${'subject_' + subject.id}" th:name="subjectModelIds" th:field="*{subjectModelIds}" th:value="${subject.id}" />
                            <label th:for="${'subject_' + subject.id}" th:text="${subject.subjectName}"></label>
                            <br/>
                        </div>
                        <p th:if="${#fields.hasErrors('subjectModelIds')}" th:errors="*{subjectModelIds}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                    </div>
                </div>
                <div class="form-group-btn">
                    <button type="submit">Save</button>
                </div>
            </form>


            <div class="table-container">
                <table>
                    <tr>
                        <th>S/N</th>
                        <th>Full Name</th>
                        <th>Phone Number</th>
                        <th>Actions</th>
                    </tr>
                    <tr th:each="staff : ${staffs}">
                        <td th:text="${staff.id}"></td>
                        <td th:text="${staff.firstName + ' ' + staff.lastName}"></td>
                        <td th:text="${staff.phoneNumber}"></td>
                        <td>
                            <a class="dynamic-link green-details" th:href="@{'/staffs/details/' + ${staff.id}}">Details</a>
                            <a class="dynamic-link blue-details" th:href="@{'/staffs/edit/' + ${staff.id}}">Edit</a>
<!--                            <a class="dynamic-link red-details" th:href="@{'/staffs/delete/' + ${staff.id}}">Delete</a>-->
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    </section>
</body>
</html>
