<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}"
    lang="en"
    >
<head>
    <title>Edit Section</title>
</head>
<body>
    <section layout:fragment="body">
        <section class="form-container">
            <a href="/sections" style="padding: 0.5rem 1.2rem; text-decoration: none; cursor: pointer; width: fit-content; background: black; color: white; border-radius: 0.5rem">
                <i class="fa fa-arrow-left" style="font-size: 1rem; margin-right: 0.2rem"></i> Back
            </a>
            <h1>Edit Section</h1>
            <form role="form" method="post" th:action="@{/sections/update/{id}(id=${section.id})}" th:object="${section}" >
                <div>
                    <label for="sectionName">Section Name:</label>
                    <input id="sectionName" type="text" th:field="*{sectionName}" />
                    <p th:if="${#fields.hasErrors('sectionName')}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;" th:errors="*{sectionName}"></p>
                </div>
                <div>
                    <button type="submit">Update</button>
                </div>
            </form>
        </section>
    </section>
</body>
</html>
