<!DOCTYPE html>
<html 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
        layout:decorate="~{layout}"
>
<head>
    <title>Sections</title>
</head>
<body>
    <section layout:fragment="body">
        <article class="list-page">
            <div class="list-header">
                <h1>Sections List</h1>
<!--                <a href="/sections/new">Add New Section</a>-->
            </div>

            <div class="params success" th:if="${param.success}">
                You successfully created a section.
            </div>
            <div class="params error" th:if="${param.error}">
                Section creation failed.
            </div>

            <form th:action="@{/sections}" th:object="${section}" class="list-form-layout" method="post">
                <div class="list-form" style="display: flex; align-items: center; justify-content: center; width: 100%">
                    <div class="form-group" style="width: 50%">
                        <label for="sectionName">Section Name:</label>
                        <input type="text" id="sectionName" placeholder="e.g Nursery, JSS" th:field="*{sectionName}" />
                        <p th:if="${#fields.hasErrors('sectionName')}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;" th:errors="*{sectionName}"></p>
                    </div>
                </div>
                <div class="form-group-btn">
                    <button type="submit">Save</button>
                </div>
            </form>


            <div class="table-container">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Section Name</th>
                        <th>Actions</th>
                    </tr>
                    <tr th:each="section : ${sections}">
                        <td th:text="${section.id}"></td>
                        <td th:text="${section.sectionName}"></td>
                        <td>
                            <a class="dynamic-link" th:href="@{'/sections/edit/' + ${section.id}}">Edit</a>
<!--                            <a class="dynamic-link" sec:authorize="hasAuthority('ROLE_ADMIN')" th:href="@{'/sections/delete/' + ${section.id}}">Delete</a>-->
                        </td>
                    </tr>
                </table>
            </div>
        </article>
    </section>
</body>
</html>
