<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}"
    >
<head>
    <title>Edit Grade</title>
</head>
<body>
    <section layout:fragment="body">
        <section class="form-container">
            <h1>Edit Grade</h1>
            <form role="form" action="#" th:action="@{/grades/update/{id}(id=${grade.id})}" th:object="${grade}" method="post">
                <div>
                    <label>From:</label>
                    <input type="text" th:field="*{rangeFrom}" />
                </div>
                <div>
                    <label>To:</label>
                    <input type="text" th:field="*{rangeTo}" />
                </div>
                <div>
                    <label>Grades:</label>
                    <input type="text" th:field="*{grade}" />
                </div>
                <div>
                    <label>Remarks:</label>
                    <input type="text" th:field="*{remark}" />
                </div>
                <div>
                    <button type="submit">Update</button>
                </div>
            </form>
        </section>
    </section>
</body>
</html>
