<!DOCTYPE html>
<html 
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <title>Teachers</title>
</head>
<body>
<h1>Teachers List</h1>
<a href="/teachers/new">Add New Teacher</a>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Actions</th>
    </tr>
    <tr th:each="teacher : ${teachers}">
        <td th:text="${teacher.id}"></td>
        <td th:text="${teacher.firstName}"></td>
        <td th:text="${teacher.lastName}"></td>
        <td th:text="${teacher.phoneNumber}"></td>
        <td>
            <a th:href="@{'/teachers/edit/' + ${teacher.id}}">Edit</a>
            <a th:href="@{'/teachers/delete/' + ${teacher.id}}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
