<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
        lang="en">
<head>
    <title>Grading System</title>
</head>
<body>
<section layout:fragment="body">
    <article class="list-page">
        <div class="list-header">
            <h1>Gradings List</h1>
<!--            <a href="/grades/new">Add New Grade</a>-->
        </div>

        <div class="params success" th:if="${param.success}">
            You successfully created a grade.
        </div>
        <div class="params error" th:if="${param.error}">
            Grade creation failed.
        </div>

        <!-- Form Section -->
        <form th:action="@{/grades}" th:object="${grade}" class="list-form-layout" method="post">
            <div class="list-form">
                <div class="form-group">
                    <label for="section">Section:</label>
                    <select id="section" th:field="*{sectionId}">
                        <option th:each="section : ${sections}" th:value="${section.id}" th:text="${section.sectionName}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="rangeFrom">Marks Range From:</label>
                    <input type="text" id="rangeFrom" th:field="*{rangeFrom}" />
                    <p th:if="${#fields.hasErrors('rangeFrom')}" th:errors="*{rangeFrom}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div class="form-group">
                    <label for="rangeTo">Marks Range To:</label>
                    <input type="text" id="rangeTo" th:field="*{rangeTo}" />
                    <p th:if="${#fields.hasErrors('rangeTo')}" th:errors="*{rangeTo}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div class="form-group">
                    <label for="grade">Grade:</label>
                    <input type="text" id="grade" placeholder="e.g A" th:field="*{grade}" />
                    <p th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
                <div class="form-group">
                    <label for="remark">Remarks:</label>
                    <input type="text" id="remark" placeholder="e.g EXCELLENT" th:field="*{remark}" />
                    <p th:if="${#fields.hasErrors('remark')}" th:errors="*{remark}" style="color: #ff253a; font-style: italic; font-size: 0.9rem;"></p>
                </div>
            </div>
            <div class="form-group-btn">
                <button type="submit">Save</button>
            </div>
        </form>

        <!-- Table Section -->
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Section</th>
                    <th>Marks Range</th>
                    <th>Grade</th>
                    <th>Remarks</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="grade : ${grades}">
                    <td th:text="${grade.id}"></td>
                    <td th:text="${grade.sectionId}"></td>
                    <td th:text="${grade.rangeFrom + '-' + grade.rangeTo}"></td>
                    <td th:text="${grade.grade}"></td>
                    <td th:text="${grade.remark}"></td>
                    <td>
                        <a class="dynamic-link" th:href="@{'/grades/edit/' + ${grade.id}}">Edit</a>
<!--                        <a class="dynamic-link" th:href="@{'/grades/delete/' + ${grade.id}}">Delete</a>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </article>
</section>
</body>
</html>
